/*   IS-OPEN STATE   */
[popover]:popover-open {
    translate: 0 0;
}
  
/*   EXIT STATE   */
[popover] {
    transition: translate 0.7s ease-out, overlay 0.7s ease-out, display 0.7s ease-out allow-discrete;
    inset: unset;
    margin: unset;
    right: 5px;
    top: 5px;
    translate: 55rem 0;
  }
  
  /*   0. BEFORE-OPEN STATE   */
  @starting-style {
    [popover]:popover-open {
      translate: 55rem 0;
    }
  }